{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}{% endblock %} SysHealthMental {% block current_host %}{% endblock %}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Third Party -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


  {% block stylesheets %}
  {% endblock %}

</head>
<body>

    {% block nav %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom border-gray">
        <a class="navbar-brand" href="">GPSM</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            &nbsp;
          </ul>

          <ul class="nav navbar-nav navbar-right">
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                  <span>Bem vindo</span>

                </a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink" role="menu">
                  <li>
                    <a class="dropdown-item" href="">Alterar Perfil</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'patient_list' %}">Área Pacientes</a>
                  </li>

                  <li>
                    <a class="dropdown-item" href="">Área Funcionários</a>
                  </li>
                  <li>
                      <a class="dropdown-item" href=""
                          onclick="event.preventDefault();
                              document.getElementById('logout-form').submit();">
                              Sair
                      </a>

                      <form id="logout-form" action="" method="POST" style="display: none;">

                      </form>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </nav>
        </div>
    {% endblock %}

    {% block messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ message }}
            </div>
        {% endfor %}
    {% endblock %}

    {% block content %}

    {% endblock %}

    <!-- Modal -->
    {% block modal %}
    {% endblock %}

    <!-- SCRIPTS -->

    <!-- Third Party -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script>window.jQuery || document.write("<script src=\"{% static 'scripts/jquery-3.2.1.slim.min.js' %}\"><\/script>")</script>
    <!-- Latest compiled and minified Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="{% static 'scripts/bootstrap.min.js'%}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script type="text/javascript" src="{% static 'scripts/popper.min.js'%}"></script>


    {% comment %}

    {% endcomment %}

    {% block scripts %}
    {% endblock %}

</body>
</html>
