{% extends "patient/base.html" %}
{% load staticfiles %}
{% load base %}

{% block content %}
<div class="container">
  <!-- Dados pessoais -->
  <form class="" action="" method="post">
    {% csrf_token %}

    <div class="bg-light border-left border-bottom rounded">
      <h3 class="border-gray border-bottom mx-3 my-3">Dados Pessoais</h3>

      {% for error in patient.non_field_errors %}
        <div class="help-text text-center">
            {{ error|safe }}
        </div>
      {% endfor %}

      <div class="form-row mx-3">
        <div class="form-group col-md-8">
          <label for="name">Nome Completo*</label>
          {{ patient.name|class:"form-control form-control-sm"}}
          {% for error in patient.name.errors %}
            <div class="text-center">
              <span class="help-text">{{ error }}</span>
            </div>
          {% endfor %}
        </div>
        <div class="form-group col-md-4">
          <label for="nickname">Apelido</label>
          {{ patient.nickname|class:"form-control form-control-sm"}}
          {% for error in patient.nickname.errors %}
            <div class="text-center">
              <span class="help-text">{{ error }}</span>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="form-row mx-3">
        <div class="form-group col-md-2">
          <label for="date_of_birth">Data de Nascimento*</label>
          {{ patient.date_of_birth|class:"form-control form-control-sm"}}
          {% for error in patient.date_of_birth.errors %}
            <div class="text-center">
              <span class="help-text">{{ error }}</span>
            </div>
          {% endfor %}
        </div>
        <div class="form-group col-md-2">
          <label for="age">Idade*</label>
          {{patient.age|class:"form-control form-control-sm"}}
          {% for error in patient.age.errors %}
            <div class="text-center">
              <span class="help-text">{{ error }}</span>
            </div>
          {% endfor %}
        </div>
        <div class="form-group col-md-3">
          <label for="gender">Sexo*</label>
          {{ patient.gender|class:"form-control form-control-sm"}}
          {% for error in patient.gender.errors %}
            <div class="text-center">
              <span class="help-text">{{ error }}</span>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="form-row mx-3">
        <div class="form-group col-md-6">
          <label for="mother_name">Mãe*</label>
          {{patient.mother_name|class:"form-control form-control-sm"}}
          {% for error in patient.mother_name.errors %}
            <div class="text-center">
              <span class="help-text">{{ error }}</span>
            </div>
          {% endfor %}
        </div>
        <div class="form-group col-md-6">
          <label for="father_name">Pai</label>
          {{patient.father_name|class:"form-control form-control-sm"}}
          {% for error in patient.father_name.errors %}
            <div class="text-center">
              <span class="help-text">{{ error }}</span>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="form-row mx-3">
        <div class="form-group col-md-3">
          <label for="cns">CNS*</label>
          {{patient.cns|class:"form-control form-control-sm"}}
          {% for error in patient.cns.errors %}
            <div class="text-center">
              <span class="help-text">{{ error }}</span>
            </div>
          {% endfor %}
        </div>
        <div class="form-group col-md-2">
          <label for="cpf">CPF*</label>
          {{patient.cpf|class:"form-control form-control-sm"}}
          {% for error in patient.cpf.errors %}
            <div class="text-center">
              <span class="help-text">{{ error }}</span>
            </div>
          {% endfor %}
        </div>
        <div class="form-group col-md-2">
          <label for="rg">RG*</label>
          {{patient.rg|class:"form-control form-control-sm"}}
          {% for error in patient.rg.errors %}
            <div class="text-center">
              <span class="help-text">{{ error }}</span>
            </div>
          {% endfor %}
        </div>
        <div class="form-group col-md-2">
          <label for="date_of_expedition">Data de Expedição*</label>
          {{patient.date_of_expedition|class:"form-control form-control-sm"}}
          {% for error in patient.date_of_expedition.errors %}
            <div class="text-center">
              <span class="help-text">{{ error }}</span>
            </div>
          {% endfor %}
        </div>
        <div class="form-group col-md-3">
          <label for="nationality">Nacionalidade</label>
          {{patient.nationality|class:"form-control form-control-sm"}}
          {% for error in patient.nationality.errors %}
            <div class="text-center">
              <span class="help-text">{{ error }}</span>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="form-row mx-3">
        <div class="form-group col-md-2">
          <label for="ethnicity">Etnia</label>
          {{patient.ethnicity|class:"form-control form-control-sm"}}
          {% for error in patient.ethnicity.errors %}
            <div class="text-center">
              <span class="help-text">{{ error }}</span>
            </div>
          {% endfor %}
        </div>
        <div class="form-group col-md-2">
          <label for="civil_status">Estado Civil</label>
          {{patient.civil_status|class:"form-control form-control-sm"}}
          {% for error in patient.civil_status.errors %}
            <div class="text-center">
              <span class="help-text">{{ error }}</span>
            </div>
          {% endfor %}
        </div>
        <div class="form-group col-md-2">
          <label for="children">Número de filhos</label>
          {{patient.children|class:"form-control form-control-sm"}}
          {% for error in patient.children.errors %}
            <div class="text-center">
              <span class="help-text">{{ error }}</span>
            </div>
          {% endfor %}
        </div>
        <div class="form-group col-md-3">
          <label for="scholarity">Escolaridade</label>
          {{patient.scholarity|class:"form-control form-control-sm"}}
          {% for error in patient.scholarity.errors %}
            <div class="text-center">
              <span class="help-text">{{ error }}</span>
            </div>
          {% endfor %}
        </div>
        <div class="form-group col-md-3">
          <label for="phone">Telefone*</label>
          {{patient.phone|class:"form-control form-control-sm"}}
          {% for error in patient.phone.errors %}
            <div class="text-center">
              <span class="help-text">{{ error }}</span>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- fim dados pessoais -->

    <!-- Dados residenciais-->
    <div class="bg-light border-gray border-left border-bottom rounded">
      <h3 class="border-bottom border-gray mx-3 my-3">Dados Residenciais</h3>
      <div class="form-row mx-3">
        <div class="form-group col-md-8">
          <label for="address">Endereço</label>
          {{patient.address|class:"form-control form-control-sm"}}
          {% for error in patient.address.errors %}
            <div class="text-center">
              <span class="help-text">{{ error }}</span>
            </div>
          {% endfor %}
        </div>
        <div class="form-group col-md-2">
          <label for="cep">CEP*</label>
          {{patient.cep|class:"form-control form-control-sm"}}
          {% for error in patient.cep.errors %}
            <div class="text-center">
              <span class="help-text">{{ error }}</span>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="form-row mx-3">
        <div class="form-group col-md-5">
          <label for="landmark">Ponto de Referência</label>
          {{patient.landmark|class:"form-control form-control-sm"}}
          {% for error in patient.landmark.errors %}
            <div class="text-center">
              <span class="help-text">{{ error }}</span>
            </div>
          {% endfor %}
        </div>

        <div class="form-group col-md-5">
          <label for="live_with">Com quem reside</label>
          {{patient.live_with|class:"form-control form-control-sm"}}
          {% for error in patient.live_with.errors %}
            <div class="text-center">
              <span class="help-text">{{ error }}</span>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- Fim dados residenciais-->

    <!-- Dados profissionais -->
    <div class="bg-light border-gray border-left border-bottom rounded">
      <h3 class="border-bottom border-gray mx-3 my-3">Dados Profissionais</h3>
      <div class="form-row mx-3">
        <div class="form-group col-md-4">
          <label for="profession">Profissão</label>
          {{patient.profession|class:"form-control form-control-sm"}}
          {% for error in patient.profession.errors %}
            <div class="text-center">
              <span class="help-text">{{ error }}</span>
            </div>
          {% endfor %}
        </div>
        <div class="form-group col-md-4">
          <label for="workplace">Local de Trabalho</label>
          {{patient.workplace|class:"form-control form-control-sm"}}
          {% for error in patient.workplace.errors %}
            <div class="text-center">
              <span class="help-text">{{ error }}</span>
            </div>
          {% endfor %}
        </div>
        <div class="form-group col-md-4">
          <label for="family_income">Renda</label>
          {{patient.family_income|class:"form-control form-control-sm"}}
          {% for error in patient.family_income.errors %}
            <div class="text-center">
              <span class="help-text">{{ error }}</span>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- fim dados profissionais -->

    <div class="form-group mx-3 my-3">
      <button type="submit" class="btn btn-secondary btn-sm"  name="cadastrar">Atualizar</button>
    </div>
  </form>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'scripts/jquery.mask.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.14/jquery.mask.js"></script>
<script>

  $(function(){
        // Mask CPF
        $("#{{patient.cpf.auto_id}}").attr('type', 'tel');
        $("#{{patient.cpf.auto_id}}").attr('placeholder', '___.___.___-__');
        $("#{{patient.cpf.auto_id}}").mask("999.999.999-99", {reverse: true});

        // Mask date_of_birth and date_of_expedition
        $("#{{patient.date_of_birth.auto_id}}").mask("99r99r9999", {
            translation: {
              'r': {
                pattern: /[\/]/,
                fallback: '/'
              },
              '9': {
                pattern: /[0-9]/
              },
            },
            placeholder: "__/__/____",
        });

        $("#{{patient.date_of_expedition.auto_id}}").mask("99r99r9999", {
            translation: {
              'r': {
                pattern: /[\/]/,
                fallback: '/'
              },
              '9': {
                pattern: /[0-9]/
              },
            },
            placeholder: "__/__/____",
        });

        // Mask CEP
        $("#{{patient.cep.auto_id}}").mask("99999r999", {
            translation: {
              'r': {
                pattern: /[-]/,
                fallback: '-'
              },
              '9': {
                pattern: /[0-9]/
              },
            },
            placeholder: "_____-___",
        });

        // Mask phone
        var maskPhoneBehavior = function(val) {
          return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
        },
        phoneOptions = {
          onKeyPress: function(val, e, field, options)
          {
            field.mask(maskPhoneBehavior.apply({}, arguments), options);
          }
        };
        $("#{{patient.phone.auto_id}}").mask(maskPhoneBehavior, phoneOptions);

  });
  </script>
{% endblock %}
