{% extends 'patient/base.html' %}
{% load staticfiles %}
{% load base %}

{% block content %}
<div class="container">
  <div class="d-flex flex-row-reverse mx-3 my-3">

      <a href="{% url 'patient_edit' pk=patient.pk %}" class="btn btn-outline-secondary rounded btn-sm">Editar</a>

  </div>
  <!-- Dados pessoais -->
  <div class="bg-light border-left border-bottom rounded">
    <h3 class="border-gray border-bottom mx-3 my-3">Dados Pessoais</h3>

    <div class="form-row mx-3">
      <div class="form-group col-md-8">
        <label for="name">Nome Completo</label>
        <input type="text" name="name" class="form-control-sm form-control" id="name" value="{{patient.name}}" disabled>
      </div>
      <div class="form-group col-md-4">
        <label for="nickname">Apelido</label>
        <input type="text" name="nickname" class="form-control form-control-sm" id="nickname" value="{{patient.nickname}}" disabled>
      </div>
    </div>
    <div class="form-row mx-3">
      <div class="form-group col-md-2">
        <label for="date_of_birth">Data de Nascimento</label>
        <input type="text" name="date_of_birth" class="form-control form-control-sm" id="date_of_birth" value="{{patient.date_of_birth|date:"d/m/Y"}}" disabled>
      </div>
      <div class="form-group col-md-2">
        <label for="age">Idade</label>
        <input type="text" name="age" class="form-control-sm form-control" id="age" value="{{patient.age}}" disabled>
      </div>
      <div class="form-group col-md-3">
        <label for="gender">Sexo</label>
        <input type="text" name="gender" class="form-control-sm form-control" id="gender" value="{{patient.get_gender_display}}" disabled>
      </div>
    </div>
    <div class="form-row mx-3">
      <div class="form-group col-md-6">
        <label for="mother_name">Mãe</label>
        <input type="text" name="mother_name" class="form-control-sm form-control" id="mother_name" value="{{ patient.mother_name }}" disabled>
      </div>
      <div class="form-group col-md-6">
        <label for="father_name">Pai</label>
        <input type="text" name="father_name" class="form-control-sm form-control" id="father_name" value="{{ patient.father_name }}" disabled>
      </div>
    </div>
    <div class="form-row mx-3">
      <div class="form-group col-md-3">
        <label for="cns">CNS</label>
        <input type="text" name="cns" class="form-control form-control-sm" id="cns" value="{{patient.cns}}" disabled>
      </div>
      <div class="form-group col-md-2">
        <label for="cpf">CPF</label>
        <input type="text" name="cpf" class="form-control form-control-sm" id="cpf" value="{{patient.cpf|mask_cpf}}" disabled>
      </div>
      <div class="form-group col-md-2">
        <label for="rg">RG</label>
        <input type="text" name="rg" class="form-control form-control-sm" id="rg" value="{{patient.rg}}" disabled>
      </div>
      <div class="form-group col-md-2">
        <label for="date_of_expedition">Data de Expedição</label>
        <input type="text" name="date_of_expedition" class="form-control form-control-sm" id="date_of_expedition" value="{{patient.date_of_expedition|date:"d/m/Y"}}" disabled>
      </div>
      <div class="form-group col-md-3">
        <label for="nationality">Nacionalidade</label>
        <input type="text" name="nationality" class="form-control form-control-sm" id="nationality" value="{{patient.nationality}}" disabled>
      </div>
    </div>
    <div class="form-row mx-3">
      <div class="form-group col-md-2">
        <label for="ethnicity">Etnia</label>
        <input type="text" name="ethnicity" class="form-control form-control-sm" id="ethnicity" value="{{patient.ethnicity}}" disabled>
      </div>
      <div class="form-group col-md-2">
        <label for="civil_status">Estado Civil</label>
        <input type="text" name="civil_status" class="form-control form-control-sm" id="civil_status" value="{{patient.get_civil_status_display}}" disabled>
      </div>
      <div class="form-group col-md-2">
        <label for="children">Número de filhos</label>
        <input type="text" name="children" class="form-control form-control-sm" id="children" value="{{patient.children}}" disabled>
      </div>
      <div class="form-group col-md-3">
        <label for="scholarity">Escolaridade</label>
        <input type="text" name="scholarity" class="form-control form-control-sm" id="scholarity" value="{{patient.get_scholarity_display}}" disabled>
      </div>
      <div class="form-group col-md-3">
        <label for="phone">Telefone</label>
        <input type="text" name="phone" class="form-control form-control-sm" id="phone" value="{{patient.phone|mask_phone}}" disabled>
      </div>
    </div>
  </div>

  <div class="bg-light border-left border-bottom rounded">
    <h3 class="border-gray border-bottom mx-3 my-3">Dados Residencias</h3>
    <div class="form-row mx-3">
      <div class="form-group col-md-8">
        <label for="address">Endereço</label>
        <input type="text" name="address" class="form-control form-control-sm" id="address" value="{{patient.address}}" disabled>
      </div>

      <div class="form-group col-md-2">
        <label for="cep">CEP*</label>
        <input type="text" name="cep" class="form-control form-control-sm" id="cep" value="{{patient.cep|mask_cep}}" disabled>
      </div>
    </div>
    <div class="form-row mx-3">
      <div class="form-group col-md-5">
        <label for="landmark">Ponto de Referência</label>
        <input type="text" name="landmark" class="form-control form-control-sm" id="landmark" value="{{patient.landmark}}" disabled>
      </div>

      <div class="form-group col-md-5">
        <label for="live_with">Com quem Reside</label>
        <input type="text" name="live_with" class="form-control form-control-sm" id="live_with" value="{{patient.live_with}}" disabled>
      </div>
    </div>
  </div>

  <div class="bg-light border-left border-bottom rounded">
    <h3 class="border-gray border-bottom mx-3 my-3">Dados Profissionais</h3>
    <div class="form-row mx-3">
      <div class="form-group col-md-4">
        <label for="profession">Profissão</label>
        <input type="text" name="profession" class="form-control form-control-sm" id="profession" value="{{patient.profession}}" disabled>
      </div>
      <div class="form-group col-md-4">
        <label for="workplace">Local de Trabalho</label>
        <input type="text" name="workplace" class="form-control form-control-sm" id="workplace" value="{{patient.workplace}}" disabled>
      </div>
      <div class="form-group col-md-4">
        <label for="family_income">Renda</label>
        <input type="text" name="family_income" class="form-control form-control-sm" id="family_income" value="{{patient.get_family_income_display}}" disabled>
      </div>
    </div>
  </div>
</div>
{% endblock %}
