{% extends "patient/base.html" %}
{% load staticfiles %}
{% load base %}

{% block content %}
<div class="container">
  <div class="top-left mx-3 my-3">
      <div class="btn-toolbar" role="toolbar">
          <div class="btn-group" role="group">
              <a href="{% url 'patient_new' %}" class="btn btn-success rounded btn-sm" data-toggle="tooltip" data-placement="bottom" title="Cadastrar paciente">Cadastrar</a>
          </div>
      </div>
  </div>

  <form action="">
    <nav class="navbar navbar-light bg-light mx-3 my-3">
      <input class="form-control mr-sm-2 col-md-6" name="search" type="search" placeholder="Consultar por Nome ou CPF ou CNS" aria-label="Search">
    </nav>
  </form>

  <table class="table table-bordered table-responsive-sm table-hover table-sm text-center">
    <thead>
      <tr>
        <th scope="col" style="width: 20%;">Nome</th>
        <th scope="col">CPF</th>
        <th scope="col">Data de Nascimento</th>
        <th scope="col">CNS</th>
        <th scope="col">Opções</th>
        <th scope="col">Triagem/Retriagem</th>
        <th scope="col">Evolução</th>
      </tr>
    </thead>
    <tbody>
      {% for p in patients %}
      <tr>
        <td>{{ p.name }}</td>
        <td>{{ p.cpf|mask_cpf }}</td>
        <td>{{ p.date_of_birth|date:"d/m/Y" }}</td>
        <td>{{ p.cns }}</td>
        <td>
          <a href="{% url 'patient_detail' pk=p.pk %}" class="btn btn-outline-success btn-sm rounded mb-1">Visualizar</a>
          <a href="{% url 'patient_edit' pk=p.pk %}" class="btn btn-outline-secondary rounded btn-sm mb-1">Atualizar</a>
        </td>
        <td>
            <a href="" class="btn btn-outline-success rounded btn-sm">Avançar</a>
        </td>
        <td>
            <a href="" class="btn btn-outline-success rounded btn-sm">Avançar</a>

        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if patients.has_other_pages %}
  <ul class="pagination justify-content-center">
    {% if patients.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ patients.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
    {% endif %}
    {% for i in patients.paginator.page_range %}
      {% if patients.number == i %}
        <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if patients.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ patients.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
</div>
{% endblock %}
